.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-family: Source Sans Pro;
    animation: headerItemsIn 0.4s 1 ease-out forwards;
}

.site-title{
    text-decoration: none;
    color: black;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
}

.moto{
    text-transform: uppercase;
    font-family: Inconsolata;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.contact {
    text-decoration: none;
    padding: 0.6rem 1rem;
    border: 2px solid black;
    color: black;
    border-radius: 5rem;
    margin-top: 0.6rem;
    transition: color 0.4s ease-out;
}

.contact:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width: 450px) {
    .site-header .wrapper {
        padding: 1rem;
    }
}