<footer class="site-footer">
    <div class="wrapper">
        <p class="title">Anastasov</p>
        <p class="desc">Living, learning, & leveling up one day at a time.</p>
        <div class="socials">
            <a href="https://www.facebook.com/georgiaanastasov/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/georgiaanastasov/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/georgi-anastasov-97a733240/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/georgianastasov"><i class="fab fa-github"></i></a>
        </div>
        <p class="copy">Handcrafted by  &reg; me.</p>
    </div>
</footer>