.work {
    margin-top: 3rem;
    text-align: center;
}

.work .title {
    font-weight: 600;
}

.work .wrapper > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.work .mailto {
    flex: 0 0 30%;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 0.2rem;
}

.work .mailto:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.work .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.work .links .card {
    flex: 0 0 100%;
    display: block;
    /* border: 2px solid black; */
    border-radius: 0.7rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 0 0.1rem 0.3rem 0.1rem rgb(0 0 0 / 80%);
}

.work .links .card::before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.work .links .card .media {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.work .links .card .media img {
    display: block;
    width: 120%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.work .links .card div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.work .links .card p {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.work .links .card a {
    padding: 0.2rem 0.4rem;
    border: 2px solid white;
    border-radius: 0.7rem;
    color: white;
    text-decoration: none;
}

.work .links .card a:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.work .links .card:hover div {
    display: block;
}

.work .links .card:hover img {
    filter: brightness(.1);
}

.work .links .card i {
    font-size: 3rem;
    color: black;
}

@media screen and (min-width: 600px){
    .work .links .card {
        flex: 0 0 47%;
    }
}

@media screen and (min-width: 750px) { 
    .work .mailto {
        flex: 0 0 auto;
        margin-left: 0.3rem;
    }

    .work .links .card {
        flex: 0 0 30%;
    }
}